<!DOCTYPE html>
<html lang="en" class="b-reith-sans-font b-reith-serif-font">
  
  <head>
    <meta charset="utf-8">
    <title>Page not found</title>
    <link type="text/css" rel="stylesheet" href="/assets/css/app.css" />
  </head>

  <body>
    <h1>Error</h1>
  </body>
  
</html>
