<html lang="en" class="b-reith-sans-font b-reith-serif-font">
<head>
  <meta charSet="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="http://rembound.com/files/creating-a-snake-game-tutorial-with-html5/snake.png">

  <title>{{documentTitle}}</title>

  <meta name="keywords" content="" />

  <script>
    window.RADIOPLAYER_PRELOADED_STATE = {{{preloadedState}}}
  </script>

  <link type="text/css" rel="stylesheet" href="/assets/css/app.css" />
</head>

<body>
  <div id="react-body">{{{ reactBody }}}</div>
  <script type="text/javascript" src="/assets/js/app.js"></script>
  <script type="text/javascript">
    app.default();
  </script>
</body>

</html>
