$_tunki: #ff4900;
$_dove: #fff;
$_chickadee: #bebebe;
$_raven: #000;
$_catbird: #646464;

$color-programme-detail-text: $_dove;
$color-programme-detail-text-hover: $_tunki;
$color-programme-detail-synopsis: $_chickadee;

$color-error-page-text: $_catbird;
$color-error-page-heading: $_raven;
$color-error-page-horizontal-rule: $_tunki;
$color-error-page-hover: $_tunki;
